# =========================
# OS & Environment
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs & Editor Tools
# =========================
.idea/
.kilo/
.vscode/

# =========================
# Python & Virtual Env
# =========================
*.egg-info/
.pdm-build/
.venv/
__pycache__/
*.pyc
*.pyd
*.pyo
.pdm-python

# =========================
# Testing & Jupyter
# =========================
.ipynb_checkpoints/
.pytest_cache/
htmlcov/
.coverage

# =========================
# Secrets & Configurations
# =========================
.aws/
*.pem
.env
credentials.json
